.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

.App-header {
  background-color: #37003c;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.PositionNumber {
  font-weight: 500;
}

.ScoreBox {
  width: 26px;
  text-align: center;
}

.ComponentContainer {
  margin: 20px 20px 5px;
  border: 1px solid #dbd9d5;
  padding: 10px;
  border-radius: 5px;
}

.App-link {
  color: #61dafb;
}
